<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tasks-container">
    <ion-input placeholder="Agregar tarea" [(ngModel)]="newTask"></ion-input>
    <label for="meeting-time">Elige la fecha y hora para tu recordatorio:</label>

    <input type="datetime-local" id="meeting-time" name="meeting-time" value="2023-11-06T19:30" min="2023-11-06T00:00"
      max="2018-06-14T00:00" />
    <ion-button (click)="addTask()">Agregar</ion-button>
    <ion-list>
      <ion-item *ngFor="let task of tasks; let i = index">
        <ion-label>{{ task.name }}</ion-label>
        <ion-label>{{ task.date }}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="deleteTask(i)">Eliminar</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-button (click)="logout()">Logout</ion-button>
<ion-footer>
  <ion-toolbar>
    <ion-title>© 2023 Agenda Apolo</ion-title>
  </ion-toolbar>
</ion-footer>